In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from sqlalchemy import MetaData
import numpy as np
import pandas as pd
import csv
from collections import defaultdict
import re
import statsmodels.api as sm
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from __future__ import division
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import seaborn as sns
from sqlalchemy import MetaData
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import settings
import time
import glob

In [2]:
def db_connect():
    """
    Performs database connection using database settings from settings.py.
    Returns sqlalchemy engine instance
    """
    return create_engine(URL(**settings.DATABASE))

db = db_connect()
db

Engine(postgres://mimic:***@metis.cabju7mub8cg.us-west-2.rds.amazonaws.com:5432/MIMIC_ICU)

### Mapping Item IDs to FIRST ItemID
    Ex: For this line: "1525,220615,791,Creatinine"
            220615 and 791 will become 1525 using
            - 220615: 1525
            - 791: 1525
     OUTPUT: items_dict
     
     TO IMPLEMENT, run below where items_dict is the mapping: 
        df['itemid'].replace(items_dict, inplace = True)

### Mapping NEW Item ID to Name for Later Use to Change Column Names
    Using above example: 1525 will map to Creatinine
    - 1525: Creatinine
    OUTPUT:item_name_dict

In [35]:
items_dict = defaultdict(list)
item_name_dict  = defaultdict(list)
file = open('../item_matching.txt', 'r')
reader = csv.reader(file)
ITEMS = list(reader)
master_item_list = []
for item in ITEMS:
    master_item_list.append(int(item[0]))
    item_name_dict[int(item[0])] = item[-1]
    for i in item[1:-1]:
        master_item_list.append(int(i))
        items_dict[int(i)] = int(item[0])
file.close()

In [24]:
items_dict#.items()[0:12]

defaultdict(list,
            {1: 221,
             52: 456,
             64: 63,
             65: 63,
             66: 63,
             67: 63,
             68: 63,
             158: 157,
             190: 223835,
             195: 194,
             436: 218,
             437: 60,
             442: 51,
             443: 456,
             444: 218,
             448: 445,
             449: 445,
             450: 445,
             455: 51,
             459: 218,
             471: 470,
             502: 501,
             503: 501,
             505: 60,
             506: 60,
             535: 218,
             615: 614,
             618: 615,
             619: 614,
             653: 614,
             654: 639,
             667: 223,
             668: 223,
             669: 223,
             670: 223,
             671: 223,
             672: 223,
             676: 223761,
             678: 223761,
             681: 639,
             682: 639,
             683: 639,
             684: 639,
             686: 60,
             772: 1521,
             781: 1162,
             784: 225634,
             785: 227445,
             786: 1522,
             788: 1523,
             791: 1525,
             811: 807,
             815: 1530,
             821: 1532,
             827: 1534,
             828: 227457,
             829: 1535,
             837: 226534,
             848: 1538,
             861: 1542,
             1127: 1542,
             1211: 221,
             1340: 445,
             1486: 445,
             1529: 807,
             1536: 226534,
             1600: 445,
             1655: 221,
             1852: 157,
             2000: 221,
             3398: 157,
             3399: 157,
             3400: 157,
             3401: 157,
             3402: 157,
             3403: 157,
             3404: 157,
             3420: 223835,
             3422: 223835,
             3605: 578,
             3689: 3688,
             3744: 807,
             3745: 807,
             5866: 5865,
             6701: 51,
             6702: 456,
             8382: 157,
             8440: 8368,
             8441: 8368,
             8555: 8368,
             40056: 40055,
             40057: 40055,
             40069: 40055,
             40085: 40055,
             40086: 40055,
             40094: 40055,
             40096: 40055,
             40405: 40055,
             40428: 40055,
             40473: 40055,
             40651: 40055,
             40715: 40055,
             43175: 40055,
             220045: 211,
             220050: 51,
             220051: 8368,
             220052: 456,
             220179: 51,
             220180: 8368,
             220181: 456,
             220210: 615,
             220228: 814,
             220277: 646,
             220339: 60,
             220545: 813,
             220546: 1542,
             220587: 770,
             220602: 1523,
             220615: 1525,
             220621: 807,
             220632: 817,
             220635: 1532,
             220644: 769,
             220645: 226534,
             220739: 184,
             223762: 223761,
             223830: 780,
             223834: 470,
             223900: 723,
             223901: 454,
             224417: 141,
             224418: 141,
             224419: 221,
             224684: 639,
             224685: 639,
             224686: 639,
             224687: 445,
             224688: 614,
             224689: 614,
             224690: 614,
             224691: 194,
             224695: 218,
             224696: 218,
             224697: 218,
             224700: 60,
             224702: 501,
             224705: 5865,
             224706: 5865,
             224707: 5865,
             224709: 5865,
             224738: 221,
             224746: 218,
             224747: 218,
             224750: 221,
             225312: 456,
             225612: 773,
             225624: 1162,
             225625: 1522,
             225664: 807,
             225668: 1531,
             225677: 1534,
             225690: 1538,
             226526: 1523,
             226537: 807,
             226540: 813,
             226557: 40055,
             226558: 40055,
             226559: 40055,
             226560: 40055,
             226561: 40055,
             226563: 40055,
             226564: 40055,
             226565: 40055,
             226567: 40055,
             226584: 40055,
             226873: 221,
             227187: 221,
             227287: 470,
             227429: 851,
             227442: 1535,
             227443: 787,
             227456: 1521,
             227464: 1535,
             227467: 1530,
             227510: 40055,
             227579: 63,
             227580: 63,
             227581: 63,
             227582: 63,
             227809: 157,
             227810: 157})

#### Add Missing ItemID:Name Mapping

In [39]:
top_items_df = pd.read_csv('../top_itemids.csv')

In [51]:
items_df = top_items_df.loc[~top_items_df.itemid.isin(master_item_list)]

In [52]:
len(items_df)

50

In [68]:
print len(items_dict)

191

In [66]:
for x in items_df.iterrows():
    item_name_dict[int(x[1].itemid)] = x[1].label

In [67]:
print len(item_name_dict)

109

#### Output both mappings to json

In [69]:
import json 

with open("items_to_item.json", 'w+') as f:
    json.dump(items_dict, f)
with open("item_to_name.json", 'w+') as g:
    json.dump(item_name_dict, g)

### Use map created to change itemID to newitemID if necessary

In [3]:
import json 

items_dict = defaultdict(list)
item_name_dict  = defaultdict(list)

with open("items_to_item.json", 'r') as f:
    items_dict = json.load(f)
with open("item_to_name.json", 'r') as g:
    item_name_dict = json.load(g)

In [ ]:
5333736 row

In [ ]:
items_dict = {int(k):int(v) for k,v in items_dict.items()}

In [14]:
events_df = pd.read_sql( '''SELECT * FROM w_chartevents_14 LIMIT 100000;''', db)

In [15]:
events_df

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,5623850,40548,260223,220210,2156-08-03 17:04:00,None,24,24.0,insp/min
1,5623853,40548,260223,220339,2156-08-03 17:04:00,None,5,5.0,cmH2O
2,5623854,40548,260223,223835,2156-08-03 17:04:00,None,40,40.0,
3,5623858,40548,260223,224685,2156-08-03 17:04:00,None,300,300.0,mL
4,5623859,40548,260223,224686,2156-08-03 17:04:00,None,282,282.0,mL
5,5623860,40548,260223,224687,2156-08-03 17:04:00,None,6.8,6.8,L/min
6,5623861,40548,260223,224689,2156-08-03 17:04:00,None,23,23.0,insp/min
7,5623862,40548,260223,224690,2156-08-03 17:04:00,None,23,23.0,insp/min
8,5623863,40548,260223,224695,2156-08-03 17:04:00,None,16,16.0,cmH2O
9,5623864,40548,260223,224697,2156-08-03 17:04:00,None,8,8.0,cmH2O
10,5623869,40548,260223,220210,2156-08-03 17:05:00,None,25,25.0,insp/min
11,5623872,40548,260223,220339,2156-08-03 17:05:00,None,5,5.0,cmH2O
12,5623873,40548,260223,223835,2156-08-03 17:05:00,None,40,40.0,
13,5623877,40548,260223,224685,2156-08-03 17:05:00,None,283,283.0,mL
14,5623878,40548,260223,224686,2156-08-03 17:05:00,None,313,313.0,mL
15,5623879,40548,260223,224687,2156-08-03 17:05:00,None,7.8,7.8,L/min
16,5623880,40548,260223,224689,2156-08-03 17:05:00,None,25,25.0,insp/min
17,5623881,40548,260223,224690,2156-08-03 17:05:00,None,25,25.0,insp/min
18,5623882,40548,260223,224695,2156-08-03 17:05:00,None,16,16.0,cmH2O
19,5623883,40548,260223,224697,2156-08-03 17:05:00,None,8,8.0,cmH2O
20,5623888,40548,260223,220210,2156-08-03 17:06:00,None,25,25.0,insp/min
21,5623889,40548,260223,220277,2156-08-03 17:06:00,None,100,100.0,%
22,5623892,40548,260223,220339,2156-08-03 17:06:00,None,5,5.0,cmH2O
23,5623893,40548,260223,223835,2156-08-03 17:06:00,None,40,40.0,
24,5623897,40548,260223,224685,2156-08-03 17:06:00,None,293,293.0,mL
25,5623898,40548,260223,224686,2156-08-03 17:06:00,None,300,300.0,mL
26,5623899,40548,260223,224687,2156-08-03 17:06:00,None,7.8,7.8,L/min
27,5623900,40548,260223,224689,2156-08-03 17:06:00,None,25,25.0,insp/min
28,5623901,40548,260223,224690,2156-08-03 17:06:00,None,25,25.0,insp/min
29,5618313,40548,260223,220210,2156-08-03 12:22:00,None,25,25.0,insp/min
...,...,...,...,...,...,...,...,...,...
99970,5731145,40548,260223,223835,2156-08-07 06:55:00,None,35,35.0,
99971,5731149,40548,260223,224685,2156-08-07 06:55:00,None,346,346.0,mL
99972,5731150,40548,260223,224686,2156-08-07 06:55:00,None,353,353.0,mL
99973,5731151,40548,260223,224687,2156-08-07 06:55:00,None,7.8,7.8,L/min
99974,5731152,40548,260223,224689,2156-08-07 06:55:00,None,27,27.0,insp/min
99975,5731153,40548,260223,224690,2156-08-07 06:55:00,None,27,27.0,insp/min
99976,5731154,40548,260223,224695,2156-08-07 06:55:00,None,11,11.0,cmH2O
99977,5731155,40548,260223,224697,2156-08-07 06:55:00,None,7,7.0,cmH2O
99978,5731160,40548,260223,220210,2156-08-07 06:56:00,None,27,27.0,insp/min
99979,5731161,40548,260223,220277,2156-08-07 06:56:00,None,100,100.0,%
99980,5731164,40548,260223,220339,2156-08-07 06:56:00,None,5,5.0,cmH2O
99981,5731165,40548,260223,223835,2156-08-07 06:56:00,None,35,35.0,
99982,5731169,40548,260223,224685,2156-08-07 06:56:00,None,255,255.0,mL
99983,5731170,40548,260223,224686,2156-08-07 06:56:00,None,269,269.0,mL
99984,5731171,40548,260223,224687,2156-08-07 06:56:00,None,6.9,6.9,L/min
99985,5731172,40548,260223,224689,2156-08-07 06:56:00,None,26,26.0,insp/min
99986,5731173,40548,260223,224690,2156-08-07 06:56:00,None,26,26.0,insp/min
99987,5731174,40548,260223,224695,2156-08-07 06:56:00,None,11,11.0,cmH2O
99988,5731175,40548,260223,224697,2156-08-07 06:56:00,None,7,7.0,cmH2O
99989,5731180,40548,260223,220210,2156-08-07 06:57:00,None,27,27.0,insp/min
99990,5731181,40548,260223,220277,2156-08-07 06:57:00,None,100,100.0,%
99991,5731184,40548,260223,220339,2156-08-07 06:57:00,None,5,5.0,cmH2O
99992,5731185,40548,260223,223835,2156-08-07 06:57:00,None,35,35.0,
99993,5731189,40548,260223,224685,2156-08-07 06:57:00,None,272,272.0,mL
99994,5731190,40548,260223,224686,2156-08-07 06:57:00,None,278,278.0,mL
99995,5731191,40548,260223,224687,2156-08-07 06:57:00,None,8.4,8.4,L/min
99996,5731192,40548,260223,224689,2156-08-07 06:57:00,None,25,25.0,insp/min
99997,5731193,40548,260223,224690,2156-08-07 06:57:00,None,25,25.0,insp/min
99998,5731194,40548,260223,224695,2156-08-07 06:57:00,None,11,11.0,cmH2O
99999,5731195,40548,260223,224697,2156-08-07 06:57:00,None,7,7.0,cmH2O

In [19]:
events_df['itemid'].replace(items_dict, inplace = True)

In [20]:
events_df

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,5623850,40548,260223,615,2156-08-03 17:04:00,None,24,24.0,insp/min
1,5623853,40548,260223,60,2156-08-03 17:04:00,None,5,5.0,cmH2O
2,5623854,40548,260223,223835,2156-08-03 17:04:00,None,40,40.0,
3,5623858,40548,260223,639,2156-08-03 17:04:00,None,300,300.0,mL
4,5623859,40548,260223,639,2156-08-03 17:04:00,None,282,282.0,mL
5,5623860,40548,260223,445,2156-08-03 17:04:00,None,6.8,6.8,L/min
6,5623861,40548,260223,614,2156-08-03 17:04:00,None,23,23.0,insp/min
7,5623862,40548,260223,614,2156-08-03 17:04:00,None,23,23.0,insp/min
8,5623863,40548,260223,218,2156-08-03 17:04:00,None,16,16.0,cmH2O
9,5623864,40548,260223,218,2156-08-03 17:04:00,None,8,8.0,cmH2O
10,5623869,40548,260223,615,2156-08-03 17:05:00,None,25,25.0,insp/min
11,5623872,40548,260223,60,2156-08-03 17:05:00,None,5,5.0,cmH2O
12,5623873,40548,260223,223835,2156-08-03 17:05:00,None,40,40.0,
13,5623877,40548,260223,639,2156-08-03 17:05:00,None,283,283.0,mL
14,5623878,40548,260223,639,2156-08-03 17:05:00,None,313,313.0,mL
15,5623879,40548,260223,445,2156-08-03 17:05:00,None,7.8,7.8,L/min
16,5623880,40548,260223,614,2156-08-03 17:05:00,None,25,25.0,insp/min
17,5623881,40548,260223,614,2156-08-03 17:05:00,None,25,25.0,insp/min
18,5623882,40548,260223,218,2156-08-03 17:05:00,None,16,16.0,cmH2O
19,5623883,40548,260223,218,2156-08-03 17:05:00,None,8,8.0,cmH2O
20,5623888,40548,260223,615,2156-08-03 17:06:00,None,25,25.0,insp/min
21,5623889,40548,260223,646,2156-08-03 17:06:00,None,100,100.0,%
22,5623892,40548,260223,60,2156-08-03 17:06:00,None,5,5.0,cmH2O
23,5623893,40548,260223,223835,2156-08-03 17:06:00,None,40,40.0,
24,5623897,40548,260223,639,2156-08-03 17:06:00,None,293,293.0,mL
25,5623898,40548,260223,639,2156-08-03 17:06:00,None,300,300.0,mL
26,5623899,40548,260223,445,2156-08-03 17:06:00,None,7.8,7.8,L/min
27,5623900,40548,260223,614,2156-08-03 17:06:00,None,25,25.0,insp/min
28,5623901,40548,260223,614,2156-08-03 17:06:00,None,25,25.0,insp/min
29,5618313,40548,260223,615,2156-08-03 12:22:00,None,25,25.0,insp/min
...,...,...,...,...,...,...,...,...,...
99970,5731145,40548,260223,223835,2156-08-07 06:55:00,None,35,35.0,
99971,5731149,40548,260223,639,2156-08-07 06:55:00,None,346,346.0,mL
99972,5731150,40548,260223,639,2156-08-07 06:55:00,None,353,353.0,mL
99973,5731151,40548,260223,445,2156-08-07 06:55:00,None,7.8,7.8,L/min
99974,5731152,40548,260223,614,2156-08-07 06:55:00,None,27,27.0,insp/min
99975,5731153,40548,260223,614,2156-08-07 06:55:00,None,27,27.0,insp/min
99976,5731154,40548,260223,218,2156-08-07 06:55:00,None,11,11.0,cmH2O
99977,5731155,40548,260223,218,2156-08-07 06:55:00,None,7,7.0,cmH2O
99978,5731160,40548,260223,615,2156-08-07 06:56:00,None,27,27.0,insp/min
99979,5731161,40548,260223,646,2156-08-07 06:56:00,None,100,100.0,%
99980,5731164,40548,260223,60,2156-08-07 06:56:00,None,5,5.0,cmH2O
99981,5731165,40548,260223,223835,2156-08-07 06:56:00,None,35,35.0,
99982,5731169,40548,260223,639,2156-08-07 06:56:00,None,255,255.0,mL
99983,5731170,40548,260223,639,2156-08-07 06:56:00,None,269,269.0,mL
99984,5731171,40548,260223,445,2156-08-07 06:56:00,None,6.9,6.9,L/min
99985,5731172,40548,260223,614,2156-08-07 06:56:00,None,26,26.0,insp/min
99986,5731173,40548,260223,614,2156-08-07 06:56:00,None,26,26.0,insp/min
99987,5731174,40548,260223,218,2156-08-07 06:56:00,None,11,11.0,cmH2O
99988,5731175,40548,260223,218,2156-08-07 06:56:00,None,7,7.0,cmH2O
99989,5731180,40548,260223,615,2156-08-07 06:57:00,None,27,27.0,insp/min
99990,5731181,40548,260223,646,2156-08-07 06:57:00,None,100,100.0,%
99991,5731184,40548,260223,60,2156-08-07 06:57:00,None,5,5.0,cmH2O
99992,5731185,40548,260223,223835,2156-08-07 06:57:00,None,35,35.0,
99993,5731189,40548,260223,639,2156-08-07 06:57:00,None,272,272.0,mL
99994,5731190,40548,260223,639,2156-08-07 06:57:00,None,278,278.0,mL
99995,5731191,40548,260223,445,2156-08-07 06:57:00,None,8.4,8.4,L/min
99996,5731192,40548,260223,614,2156-08-07 06:57:00,None,25,25.0,insp/min
99997,5731193,40548,260223,614,2156-08-07 06:57:00,None,25,25.0,insp/min
99998,5731194,40548,260223,218,2156-08-07 06:57:00,None,11,11.0,cmH2O
99999,5731195,40548,260223,218,2156-08-07 06:57:00,None,7,7.0,cmH2O