In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from sqlalchemy import MetaData
import numpy as np
import pandas as pd
import csv
from collections import defaultdict
import re
import statsmodels.api as sm
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from __future__ import division
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
#import seaborn as sns
from sqlalchemy import MetaData
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import settings
import time
import glob
import pickle
import json 
from datetime import date, timedelta, datetime

In [2]:
def db_connect():
    """
    Performs database connection using database settings from settings.py.
    Returns sqlalchemy engine instance
    """
    return create_engine(URL(**settings.DATABASE))

db = db_connect()
db

Engine(postgres://mimic:***@metis.cabju7mub8cg.us-west-2.rds.amazonaws.com:5432/MIMIC_ICU)

In [3]:
# Get list of all tables in db
m = MetaData(bind=db)
m.reflect()
tables = list(m.tables.keys())
tables

[u'd_cpt',
 u'w_chartevents_1',
 u'diagnoses_icd',
 u'labevents',
 u'transfers',
 u'chartevents',
 u'pokemon',
 u'icustays',
 u'd_labitems',
 u'microbiologyevents',
 u'procedures_icd',
 u'datetimeevents',
 u'prescriptions',
 u'callout',
 u'drgcodes',
 u'noteevents',
 u'chartevents_14',
 u'chartevents_13',
 u'chartevents_12',
 u'chartevents_11',
 u'chartevents_10',
 u'w_chartevents',
 u'chartevents_9',
 u'chartevents_8',
 u'chartevents_7',
 u'chartevents_6',
 u'chartevents_5',
 u'chartevents_4',
 u'chartevents_3',
 u'chartevents_2',
 u'chartevents_1',
 u'caregivers',
 u'admissions',
 u'w_chartevents_6',
 u'w_chartevents_5',
 u'w_chartevents_4',
 u'w_chartevents_3',
 u'w_chartevents_2',
 u'd_items',
 u'services',
 u'inputevents_mv',
 u'd_icd_procedures',
 u'w_chartevents_8',
 u'procedureevents_mv',
 u'w_chartevents_7',
 u'w_chartevents_13',
 u'w_chartevents_12',
 u'w_chartevents_11',
 u'w_chartevents_10',
 u'w_chartevents_14',
 u'w_chartevents_9',
 u'patients',
 u'inputevents_cv',
 u'team_mcnulty_five',
 u'outputevents',
 u'd_icd_diagnoses',
 u'cptevents']

# Get the final list of patient details
### Discard <15 yo, and those with less than 48 hrs in IUC

In [3]:
patients_df = pd.read_csv('TextFiles/FINAL_patient_list.csv')

In [4]:
patients_df.shape

(18104, 20)

In [5]:
patients_df

,Unnamed: 0,index,subject_id,hadm_id,icustay_id,gender,admittime,dischtime,los_hospital,age,ethnicity,admission_type,hospital_expire_flag,hospstay_seq,first_hosp_stay,intime,outtime,los_icu,icustay_seq,first_icu_stay
0,0,1,3,145834,211552,M,2101-10-20 19:08:00,2101-10-31 13:58:00,11.0,76.5246,WHITE,EMERGENCY,0,1,Y,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0,1,Y
1,1,4,6,107064,228232,F,2175-05-30 07:15:00,2175-06-15 16:00:00,16.0,65.9398,WHITE,ELECTIVE,0,1,Y,2175-05-30 21:30:54,2175-06-03 13:39:54,4.0,1,Y
2,2,8,9,150750,220597,M,2149-11-09 13:06:00,2149-11-14 10:15:00,5.0,41.7887,UNKNOWN/NOT SPECIFIED,EMERGENCY,1,1,Y,2149-11-09 13:07:02,2149-11-14 20:52:14,5.0,1,Y
3,3,11,12,112213,232669,M,2104-08-07 10:15:00,2104-08-20 02:57:00,13.0,72.3712,WHITE,ELECTIVE,1,1,Y,2104-08-08 02:08:17,2104-08-15 17:22:25,7.0,1,Y
4,4,12,13,143045,263738,F,2167-01-08 18:43:00,2167-01-15 15:15:00,7.0,39.8640,WHITE,EMERGENCY,0,1,Y,2167-01-08 18:44:25,2167-01-12 10:43:31,4.0,1,Y
5,6,20,21,111970,216859,M,2135-01-30 20:50:00,2135-02-08 02:08:00,9.0,87.8240,WHITE,EMERGENCY,1,2,N,2135-01-30 20:53:34,2135-02-08 05:38:46,9.0,1,Y
6,7,25,25,129635,203487,M,2160-11-02 02:06:00,2160-11-05 14:55:00,3.0,58.9500,WHITE,EMERGENCY,0,1,Y,2160-11-02 03:16:23,2160-11-05 16:23:27,3.0,1,Y
7,8,30,31,128652,254478,M,2108-08-22 23:27:00,2108-08-30 15:00:00,8.0,72.2644,WHITE,EMERGENCY,1,1,Y,2108-08-22 23:28:42,2108-08-30 21:59:20,8.0,1,Y
8,9,31,32,175413,295037,M,2170-04-04 08:00:00,2170-04-23 12:45:00,19.0,45.5123,WHITE,ELECTIVE,0,1,Y,2170-04-04 18:46:00,2170-04-12 11:13:00,8.0,1,Y
9,10,35,35,166707,282039,F,2122-02-10 11:15:00,2122-02-20 15:30:00,10.0,69.4416,WHITE,ELECTIVE,0,1,Y,2122-02-10 09:39:59,2122-02-15 18:41:01,5.0,1,Y
10,12,38,36,165660,241249,M,2134-05-10 11:30:00,2134-05-20 13:16:00,10.0,72.7271,WHITE,ELECTIVE,0,3,N,2134-05-12 06:52:47,2134-05-16 15:14:20,4.0,1,Y
11,13,40,38,185910,248910,M,2166-08-10 00:28:00,2166-09-04 11:30:00,25.0,75.9414,WHITE,EMERGENCY,0,1,Y,2166-08-10 00:29:36,2166-09-04 13:39:23,25.0,1,Y
12,15,43,41,101757,237024,M,2132-12-31 10:30:00,2133-01-27 15:45:00,27.0,56.6337,WHITE,ELECTIVE,0,1,Y,2133-01-09 12:18:30,2133-01-12 15:51:03,3.0,2,N
13,16,45,43,146828,225852,M,2186-10-01 23:15:00,2186-10-11 18:00:00,10.0,32.7673,WHITE,EMERGENCY,0,1,Y,2186-10-01 23:16:40,2186-10-06 14:16:54,5.0,1,Y
14,17,46,44,181750,291554,M,2192-11-19 18:14:00,2192-11-27 14:35:00,8.0,80.1825,UNKNOWN/NOT SPECIFIED,EMERGENCY,0,1,Y,2192-11-20 10:42:55,2192-11-24 14:18:50,4.0,1,Y
15,18,61,61,176332,252348,M,2118-06-17 14:40:00,2118-07-20 12:30:00,33.0,54.6542,WHITE,ELECTIVE,0,1,Y,2118-07-11 23:55:57,2118-07-14 13:21:01,3.0,1,Y
16,19,66,65,143430,244776,M,2132-08-10 07:13:00,2132-08-20 15:47:00,10.0,26.5632,WHITE,EMERGENCY,0,1,Y,2132-08-10 07:13:42,2132-08-13 15:03:07,3.0,1,Y
17,21,71,68,108329,272667,F,2174-01-04 22:21:00,2174-01-19 11:30:00,15.0,41.8490,BLACK/AFRICAN AMERICAN,EMERGENCY,0,2,N,2174-01-08 13:12:06,2174-01-14 22:45:42,6.0,1,Y
18,22,74,71,111944,211832,F,2164-02-03 22:07:00,2164-02-08 14:00:00,5.0,36.5046,ASIAN,EMERGENCY,0,1,Y,2164-02-03 22:07:49,2164-02-06 18:47:31,3.0,1,Y
19,23,94,91,121205,256972,F,2177-04-23 00:08:00,2177-05-10 15:16:00,17.0,81.5733,WHITE,EMERGENCY,1,1,Y,2177-05-07 03:52:00,2177-05-10 15:16:00,3.0,2,N
20,24,98,94,140037,213450,M,2176-09-02 14:22:00,2176-09-25 13:15:00,23.0,74.9530,ASIAN,EMERGENCY,0,2,N,2176-09-02 16:27:46,2176-09-25 14:00:30,23.0,1,Y
21,25,100,96,170324,211943,M,2156-03-31 16:11:00,2156-04-29 15:05:00,29.0,38.4950,WHITE,EMERGENCY,0,1,Y,2156-03-31 16:11:34,2156-04-20 16:53:09,20.0,1,Y
22,26,101,97,127870,288376,M,2105-04-28 15:01:00,2105-05-06 13:45:00,8.0,73.3870,PATIENT DECLINED TO ANSWER,EMERGENCY,0,1,Y,2105-04-30 08:37:39,2105-05-04 20:05:55,4.0,1,Y
23,27,105,101,175533,233111,M,2196-09-26 18:36:00,2196-10-12 13:17:00,16.0,82.1839,ASIAN,EMERGENCY,1,1,Y,2196-09-26 18:37:40,2196-10-06 16:01:56,10.0,1,Y
24,28,107,103,130744,212246,F,2144-08-12 17:37:00,2144-08-20 11:15:00,8.0,60.3271,UNKNOWN/NOT SPECIFIED,EMERGENCY,0,1,Y,2144-08-12 17:37:47,2144-08-15 18:11:52,3.0,1,Y
25,29,110,105,161160,294980,F,2189-01-28 16:57:00,2189-02-02 16:40:00,5.0,35.3410,BLACK/AFRICAN AMERICAN,EMERGENCY,0,1,Y,2189-01-28 16:59:55,2189-02-02 16:55:17,5.0,1,Y
26,30,112,106,145167,252051,M,2192-08-09 18:34:00,2192-08-15 21:15:00,6.0,28.3565,UNKNOWN/NOT SPECIFIED,EMERGENCY,1,1,Y,2192-08-09 18:35:44,2192-08-15 22:33:57,6.0,1,Y
27,40,151,109,196721,214027,F,2142-07-12 15:27:00,2142-07-23 18:41:00,11.0,24.9287,BLACK/AFRICAN AMERICAN,EMERGENCY,0,32,N,2142-07-12 15:28:40,2142-07-15 20:45:04,3.0,1,Y
28,41,156,111,192123,254245,F,2142-04-24 06:55:00,2142-05-05 11:45:00,11.0,66.7722,WHITE,EMERGENCY,0,1,Y,2142-04-24 06:56:33,2142-05-04 20:38:33,10.0,1,Y
29,42,162,115,114585,232514,F,2194-10-16 12:48:00,2194-11-13 16:50:00,28.0,75.7388,WHITE,EMERGENCY,0,1,Y,2194-10-17 13:22:28,2194-10-24 16:26:47,7.0,1,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18074,22514,60963,99752,187858,226190,F,2138-07-15 14:05:00,2138-07-18 18:16:00,3.0,63.8919,WHITE,EMERGENCY,0,1,Y,2138-07-15 14:06:02,2138-07-18 18:16:11,3.0,1,Y
18075,22515,60970,99776,136231,262109,M,2171-07-08 04:14:00,2171-07-23 16:20:00,15.0,56.4311,WHITE,EMERGENCY,0,1,Y,2171-07-08 04:15:10,2171-07-18 17:15:38,10.0,1,Y
18076,22516,60972,99781,167791,239830,M,2133-07-23 17:11:00,2133-07-31 13:12:00,8.0,72.0618,WHITE,EMERGENCY,0,1,Y,2133-07-23 17:11:34,2133-07-28 18:58:28,5.0,1,Y
18077,22517,60975,99783,126090,236983,M,2125-11-01 00:00:00,2125-12-05 12:06:00,34.0,42.2788,WHITE,EMERGENCY,1,2,N,2125-11-04 10:32:24,2125-12-05 14:17:10,31.0,1,Y
18078,22518,60976,99785,120655,267661,F,2122-10-07 17:11:00,2122-10-23 16:00:00,16.0,72.3986,UNABLE TO OBTAIN,EMERGENCY,0,1,Y,2122-10-07 17:12:07,2122-10-21 22:30:54,14.0,1,Y
18079,22519,60978,99791,175690,281746,M,2170-04-09 08:00:00,2170-04-15 16:20:00,6.0,61.2608,WHITE,EMERGENCY,0,1,Y,2170-04-10 12:06:02,2170-04-13 15:02:57,3.0,1,Y
18080,22520,60980,99797,135425,225994,M,2152-06-23 15:27:00,2152-07-07 14:35:00,14.0,57.7644,WHITE,EMERGENCY,0,1,Y,2152-06-23 15:27:48,2152-06-27 21:41:22,4.0,1,Y
18081,22523,60988,99817,195557,245915,M,2166-10-14 23:16:00,2166-11-20 12:00:00,37.0,70.6244,UNKNOWN/NOT SPECIFIED,EMERGENCY,1,1,Y,2166-11-07 21:48:41,2166-11-12 18:47:04,5.0,3,N
18082,22524,60993,99822,195871,297672,M,2197-07-03 02:24:00,2197-07-08 13:15:00,5.0,61.2963,WHITE,EMERGENCY,1,3,N,2197-07-04 14:15:08,2197-07-08 16:52:12,4.0,1,Y
18083,22525,60995,99830,176834,211489,M,2187-08-20 20:46:00,2187-09-14 10:45:00,25.0,49.2769,UNKNOWN/NOT SPECIFIED,EMERGENCY,0,1,Y,2187-08-20 20:46:45,2187-09-04 15:48:21,15.0,1,Y
18084,22528,60999,99836,101018,240303,F,2116-05-21 19:23:00,2116-07-17 16:30:00,57.0,52.1024,UNABLE TO OBTAIN,EMERGENCY,0,1,Y,2116-06-25 22:28:30,2116-07-15 18:56:37,20.0,3,N
18085,22529,61001,99847,155024,219261,F,2191-04-12 23:27:00,2191-04-30 14:42:00,18.0,75.6266,WHITE,EMERGENCY,0,1,Y,2191-04-12 23:52:16,2191-04-16 17:46:57,4.0,1,Y
18086,22530,61004,99863,100749,216757,M,2142-04-02 22:04:00,2142-05-08 13:47:00,36.0,42.6922,WHITE - BRAZILIAN,EMERGENCY,0,1,Y,2142-04-02 22:04:30,2142-05-01 15:36:35,29.0,1,Y
18087,22531,61012,99880,179507,215004,F,2162-04-16 17:24:00,2162-04-27 17:00:00,11.0,87.9034,UNABLE TO OBTAIN,EMERGENCY,0,1,Y,2162-04-19 09:35:13,2162-04-24 15:18:21,5.0,1,Y
18088,22532,61016,99893,128349,208873,M,2193-03-31 21:08:00,2193-04-07 13:27:00,7.0,88.5495,WHITE,EMERGENCY,0,1,Y,2193-03-31 21:09:45,2193-04-03 00:08:20,3.0,1,Y
18089,22533,61017,99894,127380,204236,F,2129-07-04 23:35:00,2129-07-15 17:20:00,11.0,60.0013,WHITE,EMERGENCY,0,1,Y,2129-07-04 23:40:40,2129-07-08 16:47:54,4.0,1,Y
18090,22534,61020,99899,188409,245756,M,2113-06-04 15:56:00,2113-06-13 17:30:00,9.0,86.9560,BLACK/AFRICAN AMERICAN,EMERGENCY,1,1,Y,2113-06-04 15:56:39,2113-06-13 19:23:51,9.0,1,Y
18091,22535,61021,99901,131711,226541,M,2173-01-06 15:51:00,2173-01-19 17:32:00,13.0,68.8283,WHITE,EMERGENCY,0,1,Y,2173-01-12 14:13:27,2173-01-18 17:12:16,6.0,1,Y
18092,22536,61023,99912,189380,236183,M,2153-04-13 16:05:00,2153-04-27 13:40:00,14.0,84.5439,WHITE,EMERGENCY,0,1,Y,2153-04-13 16:05:43,2153-04-25 18:10:37,12.0,1,Y
18093,22537,61024,99913,175989,292375,M,2141-05-10 20:41:00,2141-05-18 17:54:00,8.0,71.0899,HISPANIC/LATINO - DOMINICAN,EMERGENCY,0,1,Y,2141-05-12 11:42:20,2141-05-15 15:42:40,3.0,1,Y
18094,22538,61029,99934,176121,291007,M,2110-02-28 03:47:00,2110-03-06 14:31:00,6.0,17.9470,WHITE,EMERGENCY,0,1,Y,2110-02-28 03:47:56,2110-03-03 16:58:23,3.0,1,Y
18095,22539,61031,99936,107913,213906,F,2182-10-10 13:57:00,2182-10-18 13:45:00,8.0,NaN,WHITE,EMERGENCY,0,1,Y,2182-10-10 18:50:51,2182-10-14 14:29:32,4.0,1,Y
18096,22540,61033,99938,103815,296707,M,2200-10-24 17:53:00,2200-11-11 11:53:00,18.0,80.8368,WHITE,EMERGENCY,0,1,Y,2200-10-27 10:48:30,2200-11-03 17:33:37,7.0,1,Y
18097,22541,61034,99939,159023,252442,M,2110-03-22 04:03:00,2110-04-02 15:02:00,11.0,26.9493,HISPANIC OR LATINO,EMERGENCY,0,1,Y,2110-03-22 04:05:55,2110-03-25 01:10:10,3.0,1,Y
18098,22542,61035,99944,185654,221067,F,2161-02-16 20:14:00,2161-02-21 16:45:00,5.0,85.4803,WHITE,EMERGENCY,0,1,Y,2161-02-16 20:15:35,2161-02-20 21:33:35,4.0,1,Y
18099,22543,61037,99955,108494,243255,M,2139-07-14 02:31:00,2139-07-19 05:20:00,5.0,63.1910,BLACK/AFRICAN AMERICAN,EMERGENCY,1,1,Y,2139-07-14 02:32:21,2139-07-19 18:39:56,5.0,1,Y
18100,22544,61038,99957,148574,257127,M,2157-02-20 22:56:00,2157-03-04 14:45:00,12.0,68.0508,WHITE,URGENT,0,1,Y,2157-02-20 22:56:51,2157-02-23 19:47:19,3.0,1,Y
18101,22547,61044,99982,183791,239827,M,2157-02-16 17:31:00,2157-02-22 20:36:00,6.0,65.3758,WHITE,EMERGENCY,0,3,N,2157-02-16 17:32:13,2157-02-22 21:37:10,6.0,1,Y
18102,22548,61046,99985,176670,279638,M,2181-01-27 02:47:00,2181-02-12 17:05:00,16.0,53.8082,WHITE,EMERGENCY,0,1,Y,2181-01-29 05:33:34,2181-02-09 12:45:20,11.0,1,Y
18103,22549,61047,99991,151118,226241,M,2184-12-24 08:30:00,2185-01-05 12:15:00,12.0,47.7163,WHITE,ELECTIVE,0,1,Y,2184-12-28 17:30:58,2184-12-31 20:56:20,3.0,1,Y

In [6]:
patients_df['dischtime'] = pd.to_datetime(patients_df['dischtime'])

In [7]:
patients_df['dischtime'][1]

Timestamp('2175-06-15 16:00:00')

# Read `chart_events` sql tables into pandas

In [32]:
### w_chart14 already discarded <15yp and <48 hr LOS, however still has unwanted items.
### List of wanted items (manually curated and by fraction of patients in keep_items.txt)
query = '''select * from w_chartevents_%s''' % idx  # idx from 1-14
df = pd.read_sql(query, db)

In [129]:
df.shape

(19944075, 9)

In [12]:
#%store -r df1 # (7938867, 9)  
#%store -r df2 # (4718295, 9)
#%store -r df3 # (19944075, 9)
#%store -r df4 # (2957215, 9)
#%store -r df5 # (5499559, 9)
#%store -r df6 # (7462352, 9)
#%store -r df7 # (93, 9)
#%store -r df8 # (0, 9)
#%store -r df9 # (0, 9)
#%store -r df10 # (74, 9)
#%store -r df11 # (26830, 9)
#%store -r df12 # (0, 9)
#%store -r df13 # (6974718, 9)
#%store -r df14  # (13410178, 9)

In [33]:
df = df1

# Tag/group items by group `item ID` (one itemID per group)

In [34]:
items_key_dict = defaultdict(list)

with open("JSONs/items_to_item.json", 'r') as f:  # Get one item ID for item groups
    items_key_dict = json.load(f)

items_key_dict = {int(k):int(v) for k,v in items_key_dict.items()}

df['itemid'].replace(items_key_dict, inplace = True)

In [35]:
df.head()

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,105444129,14021,275832,128,2193-09-21 20:00:00,2193-09-21 20:32:00,Full Code,NaN,
1,105444134,14021,275832,184,2193-09-21 20:00:00,2193-09-21 20:32:00,3 To speech,3.0,
2,105444277,14021,275832,128,2193-09-21 23:00:00,2193-09-21 23:34:00,Full Code,NaN,
3,105444322,14021,275832,128,2193-09-22 00:00:00,2193-09-21 23:56:00,Full Code,NaN,
4,105444637,14021,275832,128,2193-09-22 05:00:00,2193-09-22 05:17:00,Full Code,NaN,

# Tag items to keep and trash + sort by chart time
### Remove those in less than 5%of patients (exc. those vital ones)

In [36]:
keep = pd.read_csv('TextFiles/Keep_items.txt', names=["id"])

In [37]:
df = df[df.itemid.isin(keep.id.values)]

In [38]:
df.sort_values(by='charttime', ascending = True).head(5)

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
3731176,178804060,29156,293407,198,2100-06-09 03:00:00,2100-06-09 03:01:00,3,3.0,points
3731352,222383990,29156,293407,157,2100-06-09 03:00:00,2100-06-09 03:10:00,22cm,NaN,
3731173,178804045,29156,293407,128,2100-06-09 03:00:00,2100-06-09 03:39:00,Full Code,NaN,
3731174,178804057,29156,293407,184,2100-06-09 03:00:00,2100-06-09 03:01:00,1 No Response,1.0,
3731175,178804059,29156,293407,223835,2100-06-09 03:00:00,2100-06-09 03:10:00,.80000001192092896,0.8,torr

# Append a column for patient `discharge time` to chartevents,
# then discard those <24 hr

In [39]:
# Dictionary of discharg time per icustay
icustay_discharg_dict = pd.Series(patients_df.dischtime.values,index=patients_df.icustay_id).to_dict()

In [40]:
time_lim = pd.Series([icustay_discharg_dict[x] - timedelta(days=1) for x in df.icustay_id])

In [41]:
df = df[df.charttime < time_lim]

In [42]:
df.shape

(7690792, 9)

In [43]:
df.head()

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,105444129,14021,275832,128,2193-09-21 20:00:00,2193-09-21 20:32:00,Full Code,NaN,
1,105444134,14021,275832,184,2193-09-21 20:00:00,2193-09-21 20:32:00,3 To speech,3.0,
2,105444277,14021,275832,128,2193-09-21 23:00:00,2193-09-21 23:34:00,Full Code,NaN,
3,105444322,14021,275832,128,2193-09-22 00:00:00,2193-09-21 23:56:00,Full Code,NaN,
4,105444637,14021,275832,128,2193-09-22 05:00:00,2193-09-22 05:17:00,Full Code,NaN,

# Store all in dictionary of lists sorted by time

In [44]:
items_dict = {key: list(value) for key,value in df.groupby("subject_id")["value"]}

In [32]:
# Dictionary
items_dict = defaultdict(list)

for row in df.iterrows():
    row = row[1]
    
    vals = [row['charttime'], row['subject_id'], row['value'], row['valuenum'], row['valueuom']]
    
    if items_dict[(row['icustay_id'],row['itemid'])]:
        items_dict[(row['icustay_id'],row['itemid'])].append(vals)
    else:
        items_dict[(row['icustay_id'],row['itemid'])] = [vals]

KeyboardInterrupt:

# Alt: Select through pandas

In [151]:
max_time = max(df[df['subject_id'] == 89840]['charttime'])
print(max_time)
df[df['subject_id'] == 89840]

2192-10-04 01:27:00

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,29319234,89840,296490,646,2192-09-28 03:39:00,None,90,90.0,%
1,29319236,89840,296490,614,2192-09-28 03:40:00,None,23,23.0,insp/min
2,29319239,89840,296490,614,2192-09-28 03:41:00,None,20,20.0,insp/min
3,29319240,89840,296490,646,2192-09-28 03:41:00,None,91,91.0,%
4,29319242,89840,296490,614,2192-09-28 03:42:00,None,31,31.0,insp/min
5,29319243,89840,296490,646,2192-09-28 03:42:00,None,91,91.0,%
6,29319245,89840,296490,614,2192-09-28 03:43:00,None,27,27.0,insp/min
7,29319246,89840,296490,646,2192-09-28 03:43:00,None,90,90.0,%
8,29319248,89840,296490,614,2192-09-28 03:44:00,None,33,33.0,insp/min
9,29319249,89840,296490,646,2192-09-28 03:44:00,None,90,90.0,%
10,29319251,89840,296490,614,2192-09-28 03:45:00,None,37,37.0,insp/min
11,29319252,89840,296490,646,2192-09-28 03:45:00,None,90,90.0,%
12,29319833,89840,296490,614,2192-09-28 06:44:00,None,16,16.0,insp/min
13,29319834,89840,296490,646,2192-09-28 06:44:00,None,89,89.0,%
14,29319836,89840,296490,614,2192-09-28 06:45:00,None,19,19.0,insp/min
15,29319837,89840,296490,646,2192-09-28 06:45:00,None,89,89.0,%
16,29319839,89840,296490,614,2192-09-28 06:46:00,None,15,15.0,insp/min
17,29319840,89840,296490,646,2192-09-28 06:46:00,None,89,89.0,%
18,29319842,89840,296490,614,2192-09-28 06:47:00,None,20,20.0,insp/min
19,29319843,89840,296490,646,2192-09-28 06:47:00,None,89,89.0,%
20,29319845,89840,296490,614,2192-09-28 06:48:00,None,15,15.0,insp/min
21,29319846,89840,296490,646,2192-09-28 06:48:00,None,89,89.0,%
22,29319848,89840,296490,614,2192-09-28 06:49:00,None,14,14.0,insp/min
23,29319849,89840,296490,646,2192-09-28 06:49:00,None,89,89.0,%
24,29319851,89840,296490,614,2192-09-28 06:50:00,None,17,17.0,insp/min
25,29319852,89840,296490,646,2192-09-28 06:50:00,None,89,89.0,%
26,29319854,89840,296490,614,2192-09-28 06:51:00,None,15,15.0,insp/min
27,29319855,89840,296490,646,2192-09-28 06:51:00,None,89,89.0,%
28,29319857,89840,296490,614,2192-09-28 06:52:00,None,17,17.0,insp/min
29,29319858,89840,296490,646,2192-09-28 06:52:00,None,89,89.0,%
...,...,...,...,...,...,...,...,...,...
70,29320580,89840,296490,614,2192-09-28 10:40:00,None,29,29.0,insp/min
71,29320581,89840,296490,646,2192-09-28 10:40:00,None,88,88.0,%
72,29320583,89840,296490,614,2192-09-28 10:41:00,None,24,24.0,insp/min
73,29320584,89840,296490,646,2192-09-28 10:41:00,None,88,88.0,%
74,29320586,89840,296490,614,2192-09-28 10:42:00,None,25,25.0,insp/min
75,29320587,89840,296490,646,2192-09-28 10:42:00,None,86,86.0,%
76,29320589,89840,296490,614,2192-09-28 10:43:00,None,19,19.0,insp/min
77,29314280,89840,296490,646,2192-09-27 00:57:00,None,92,92.0,%
78,29314282,89840,296490,614,2192-09-27 00:58:00,None,12,12.0,insp/min
79,29314283,89840,296490,646,2192-09-27 00:58:00,None,92,92.0,%
80,29314285,89840,296490,614,2192-09-27 00:59:00,None,12,12.0,insp/min
81,29314286,89840,296490,646,2192-09-27 00:59:00,None,92,92.0,%
82,29314288,89840,296490,51,2192-09-27 01:00:00,2192-09-27 02:01:00,110,110.0,mmHg
83,29314289,89840,296490,8368,2192-09-27 01:00:00,2192-09-27 02:01:00,64,64.0,mmHg
84,29314290,89840,296490,456,2192-09-27 01:00:00,2192-09-27 02:01:00,75,75.0,mmHg
85,29314291,89840,296490,614,2192-09-27 01:00:00,2192-09-27 02:01:00,13,13.0,insp/min
86,29314292,89840,296490,646,2192-09-27 01:00:00,2192-09-27 02:01:00,92,92.0,%
87,29314294,89840,296490,614,2192-09-27 01:01:00,None,28,28.0,insp/min
88,29345537,89840,296490,614,2192-10-04 01:22:00,None,18,18.0,insp/min
89,29345538,89840,296490,646,2192-10-04 01:22:00,None,95,95.0,%
90,29345540,89840,296490,614,2192-10-04 01:23:00,None,17,17.0,insp/min
91,29345541,89840,296490,646,2192-10-04 01:23:00,None,94,94.0,%
92,29345543,89840,296490,614,2192-10-04 01:24:00,None,19,19.0,insp/min
93,29345544,89840,296490,646,2192-10-04 01:24:00,None,94,94.0,%
94,29345546,89840,296490,614,2192-10-04 01:25:00,None,18,18.0,insp/min
95,29345547,89840,296490,646,2192-10-04 01:25:00,None,94,94.0,%
96,29345549,89840,296490,614,2192-10-04 01:26:00,None,17,17.0,insp/min
97,29345550,89840,296490,646,2192-10-04 01:26:00,None,95,95.0,%
98,29345552,89840,296490,614,2192-10-04 01:27:00,None,19,19.0,insp/min
99,29345553,89840,296490,646,2192-10-04 01:27:00,None,95,95.0,%

In [30]:
df.groupby(["subject_id", "itemid"]).head(1)

,row_id,subject_id,icustay_id,itemid,charttime,storetime,value,valuenum,valueuom
0,105444129,14021,275832,128,2193-09-21 20:00:00,2193-09-21 20:32:00,Full Code,NaN,
1,105444134,14021,275832,184,2193-09-21 20:00:00,2193-09-21 20:32:00,3 To speech,3.00000,
9,105445021,14021,275832,198,2193-09-22 16:00:00,2193-09-22 16:56:00,10,10.00000,points
15,105446226,14021,275832,223835,2193-09-23 18:00:00,2193-09-23 17:55:00,.5,0.50000,torr
90,105443419,14021,275832,69,2193-09-21 03:19:00,2193-09-21 03:19:00,,NaN,
112,105479099,14025,211458,223835,2166-01-14 13:00:00,2166-01-14 13:33:00,.40000000596046448,0.40000,torr
113,105479133,14025,211458,456,2166-01-14 13:15:00,2166-01-14 13:25:00,77,77.00000,mmHg
114,105479134,14025,211458,113,2166-01-14 13:15:00,2166-01-14 13:25:00,5,5.00000,mmHg
121,105480247,14025,211458,116,2166-01-15 10:00:00,2166-01-15 10:00:00,,NaN,
122,105480248,14025,211458,128,2166-01-15 10:00:00,2166-01-15 09:56:00,Full Code,NaN,
125,105462656,14024,295497,128,2141-09-08 08:00:00,2141-09-08 08:05:00,Full Code,NaN,
126,105463669,14024,295497,456,2141-09-09 03:00:00,2141-09-09 03:16:00,71,71.00000,mmHg
127,105463673,14024,295497,113,2141-09-09 03:00:00,2141-09-09 03:16:00,13,13.00000,mmHg
134,105457246,14024,295497,69,2141-08-31 11:22:00,2141-08-31 11:22:00,1.7673799991607666,1.76738,m2
138,105457277,14024,295497,184,2141-08-31 12:00:00,2141-08-31 12:28:00,4 Spontaneously,4.00000,
139,105457278,14024,295497,198,2141-08-31 12:00:00,2141-08-31 12:28:00,15,15.00000,points
159,105463604,14024,295497,116,2141-09-09 02:00:00,2141-09-09 03:16:00,3.3446300029754639,3.34463,...
178,105470952,14024,295497,221,2141-09-16 04:00:00,2141-09-16 06:46:00,25%,NaN,
231,105458391,14024,295497,223835,2141-09-02 08:00:00,2141-09-02 07:59:00,.5,0.50000,torr
851,105457751,14024,295497,141,2141-09-01 06:00:00,2141-09-01 06:00:00,,NaN,
852,105457752,14024,295497,157,2141-09-01 06:00:00,2141-09-01 06:00:00,,NaN,
2592,207371338,14024,295497,51,2141-09-19 06:00:00,2141-09-19 06:37:00,96,96.00000,mmHg
3261,105484365,14030,218289,128,2139-10-14 05:00:00,2139-10-14 05:31:00,Do Not Resuscita,NaN,
3264,105481296,14025,211458,184,2166-01-16 16:00:00,2166-01-16 15:39:00,4 Spontaneously,4.00000,
3265,105481297,14025,211458,198,2166-01-16 16:00:00,2166-01-16 15:39:00,15,15.00000,points
3349,105478938,14025,211458,69,2166-01-14 11:54:00,2166-01-14 11:54:00,1.9974000453948975,1.99740,m2
3470,207372449,14025,211458,51,2166-01-15 17:00:00,2166-01-15 17:17:00,102,102.00000,mmHg
3511,207372286,14025,211458,157,2166-01-15 00:00:00,2166-01-15 00:00:00,,NaN,
3561,105519012,14038,224831,128,2137-10-27 05:00:00,2137-10-27 06:09:00,Full Code,NaN,
3572,105486585,14030,218289,184,2139-10-17 20:00:00,2139-10-17 21:35:00,4 Spontaneously,4.00000,
...,...,...,...,...,...,...,...,...,...
7933246,105363574,14005,268187,456,2173-03-13 17:00:00,2173-03-13 18:23:00,,59.00000,mmHg
7933247,105363575,14005,268187,113,2173-03-13 17:00:00,2173-03-13 18:23:00,,6.00000,mmHg
7933255,105362468,14005,268187,223835,2173-03-12 17:50:00,2173-03-12 17:52:00,,0.60000,torr
7933508,105362451,14005,268187,69,2173-03-12 17:48:00,2173-03-12 17:48:00,,2.20779,m2
7933568,207350825,14005,268187,51,2173-03-13 17:00:00,2173-03-13 18:23:00,,88.00000,mmHg
7933593,207350677,14005,268187,157,2173-03-12 18:50:00,2173-03-12 18:50:00,21cm,NaN,
7933631,105382941,14008,242975,69,2137-03-02 11:41:00,2137-03-02 11:41:00,1.6281299591064453,1.62813,m2
7933632,105383980,14008,242975,113,2137-03-03 18:00:00,2137-03-03 17:54:00,4,4.00000,mmHg
7933633,105383981,14008,242975,128,2137-03-03 18:00:00,2137-03-03 17:54:00,Full Code,NaN,
7933640,105384499,14008,242975,184,2137-03-04 04:00:00,2137-03-04 04:00:00,4 Spontaneously,4.00000,
7933641,105384500,14008,242975,198,2137-03-04 04:00:00,2137-03-04 04:00:00,15,15.00000,points
7933645,105368467,14007,281981,184,2161-01-23 12:00:00,2161-01-23 12:56:00,4 Spontaneously,4.00000,
7933646,105368468,14007,281981,223835,2161-01-23 12:00:00,2161-01-23 12:06:00,.5,0.50000,torr
7933649,105368673,14007,281981,198,2161-01-23 16:00:00,2161-01-23 16:40:00,11,11.00000,points
7933666,105379591,14007,281981,194,2161-02-03 09:20:00,2161-02-03 09:25:00,6,6.00000,lpm
7933686,105379845,14007,281981,141,2161-02-03 16:00:00,2161-02-03 16:00:00,,NaN,
7933687,105379847,14007,281981,157,2161-02-03 16:00:00,2161-02-03 16:00:00,,NaN,
7933817,105371879,14007,281981,69,2161-01-26 11:11:00,2161-01-26 11:11:00,,NaN,
7934707,207353833,14007,281981,51,2161-02-03 13:30:00,2161-02-03 13:38:00,129,129.00000,mmHg
7935155,105403254,14019,295689,223835,2167-08-13 00:07:00,2167-08-13 00:09:00,.5,0.50000,torr
7935156,105420818,14019,295689,128,2167-09-02 04:00:00,2167-09-02 04:21:00,Full Code,NaN,
7935157,105420826,14019,295689,184,2167-09-02 04:00:00,2167-09-02 04:21:00,4 Spontaneously,4.00000,
7935158,105420828,14019,295689,198,2167-09-02 04:00:00,2167-09-02 04:21:00,11,11.00000,points
7935161,105421349,14019,295689,194,2167-09-02 18:00:00,2167-09-02 18:00:00,6,6.00000,lpm
7935518,105421370,14019,295689,456,2167-09-02 20:00:00,2167-09-02 20:13:00,73,73.00000,mmHg
7935521,105408561,14019,295689,113,2167-08-19 04:00:00,2167-08-19 04:52:00,10,10.00000,mmHg
7935547,105400310,14019,295689,69,2167-08-10 21:27:00,2167-08-10 21:27:00,2.122920036315918,2.12292,m2
7935698,105411169,14019,295689,157,2167-08-22 01:00:00,2167-08-22 01:39:00,Done,NaN,
7936922,105422093,14019,295689,141,2167-09-03 16:00:00,2167-09-03 16:00:00,,NaN,
7937968,207359271,14019,295689,51,2167-08-18 06:00:00,2167-08-18 06:00:00,119,119.00000,mmHg

In [24]:
max_time = max(df[df['subject_id'] == 14021]['charttime'])

In [29]:
df.ix[np.argmax(df[df['subject_id'] == 14021]['charttime']), :]

row_id                  105447924
subject_id                  14021
icustay_id                 275832
itemid                        128
charttime     2193-09-25 17:00:00
storetime     2193-09-25 17:03:00
value                   Full Code
valuenum                      NaN
valueuom
Name: 37, dtype: object

# Alt: Flatten to a df in wich time series are recorded as value= list of lists